#item-improvement {
  height: 100%;
}
#item-improvement .flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#item-improvement .full-height {
  height: 100%;
}
#item-improvement .main-nav {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
#item-improvement .form-group {
  margin-bottom: 0px;
}
#item-improvement .vertical-center {
  display: flex;
  align-items: center;
}
#item-improvement .divider {
  padding-left: 15px;
  padding-right: 15px;
}

#item-improvement .divider h5{
  font-size: 120%;
}

#item-improvement .divider hr {
  margin-bottom: 15.5px;
}

#item-improvement ::-webkit-scrollbar {
  width: 10px;
}
#item-improvement ::-webkit-scrollbar-track {
  border-radius: 1px;
  -webkit-border-radius: 1px;
}
#item-improvement ::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-border-radius: 1px;
  background-color: #3d3d3d;
}
#item-improvement #main-table tbody td {
 vertical-align: middle;
 line-height: 36px;
 height: 36px;
 padding: 1px 5px;
}
#item-improvement .item-table-name {
  padding-left: 10px;
}
#item-improvement .center {
  text-align: center;
}
#item-improvement .checkbox {
  position: absolute;
  margin: 0px 10px;
}
#item-improvement .new-checkbox {
  position: absolute;
  margin: 0px -15px;
}
#item-improvement .checkbox > input {
  top: 0px !important;
  bottom: 0px !important;
}
#item-improvement .useitem.png {
  width: 2.0em;
  height: 2.0em;
  margin-left: 0.2em;
}

#item-improvement .cell-left{
  text-align: left;
}

#item-improvement .cell-right span{
  display: block;
  min-width: 6em;
  float: left;
}

#item-improvement .cell-right i{
  font-style: normal;
}

#item-improvement .cell-header{
  text-align: center;
  font-size: 110%;
  border-top: 1px solid;
}

#item-improvement .cell-center{
  text-align: center;
}

#item-improvement .cell-center span{
  min-width: 4em;
  display: inline-block;
}

#item-improvement .expandable:hover {
  cursor: pointer;
}

#item-improvement .detail-td {
  height: 0 !important;
  padding: 0 !important;
}

#item-improvement .detail-table {
  margin: 0;
}

#item-improvement th, td {
  vertical-align: middle !important;
}

#item-improvement .hisho-col{
  display: block;
  line-height: 95%;
  margin: 1.5em auto 1.5em auto;
}

#item-improvement .available-days {
  font-size: 80%;
  font-style: italic;
}

#item-improvement img {
  width: 2.2em;
  height: 2.2em;
}

#item-improvement img.svg {
  padding: 5px;
}

#item-improvement #starcraft-root .eqcat-collapse-toggle {
  width: 1em;
}

#item-improvement #starcraft-root .star-text {
  color: #45a9a5;
}

#item-improvement .item-simple-info {
  display: flex;
  align-items: center;
}

#item-improvement .item-simple-info .item-hisho {
  margin-left: auto;
  margin-right: 0;
}

#item-improvement .item-simple-info .item-plan {
  display: flex;
  position: absolute;
  width: 100%;
}

#item-improvement .item-simple-info .item-plan > * {
  margin: 5px;
}

#item-improvement .item-simple-info .item-plan .text-divider {
  margin: 0 0.25em;
}

#item-improvement .list-group {
  margin-bottom: 5px;
}

#item-improvement .list-group-item {
  padding: 5px;
  border-radius: 0;
}

#item-improvement .list-container {
  height: calc(100% - 45px);
  overflow-y: scroll;
  margin: 0 15px;
  flex: 1;
  width: calc(100% - 30px);
}
